<div>
  <%= suggestion.event.name %>  <%= suggestion.restaurant.name %>
  <%= form_for suggestion, remote: true do |f| %>
    <%= f.hidden_field :event_name, value: suggestion.event.name %>
    <%= f.hidden_field :event_location, value: suggestion.event.location %>
    <%= f.hidden_field :event_time, value: suggestion.event.time %>
    <%= f.hidden_field :restaurant_name, value: suggestion.restaurant.name %>
    <%= f.hidden_field :restaurant_rating, value: suggestion.restaurant.rating %>
    <%= f.label "Yes" %>
    <%= f.radio_button :response, true, checked: true %>
    <%= f.label "No, Show Me Another" %>
    <%= f.radio_button :response, false, checked: false %>
    <%= f.submit "Submit" %>
  <% end %>
</div>

<script>
  $(function() {
    $("#first-form").show();
  });
</script>
