<div id="<%= dom_id(suggestion_form) %>" class="suggestion-form">
  Movie: <%= suggestion_form.event.name %> @ <%= suggestion_form.event.time %><br> 
  Theater: <%= suggestion_form.event.location %><br>
  Restaurant: <%= suggestion_form.restaurant.name %>
  <%= form_for suggestion_form, remote: true do |f| %>
    <%= f.hidden_field :event_name, value: suggestion_form.event.name %>
    <%= f.hidden_field :event_location, value: suggestion_form.event.location %>
    <%= f.hidden_field :event_time, value: suggestion_form.event.time %>
    <%= f.hidden_field :restaurant_name, value: suggestion_form.restaurant.name %>
    <%= f.hidden_field :restaurant_rating, value: suggestion_form.restaurant.rating %>
    <%= f.hidden_field :id, value: suggestion_form.id %>
    <%= f.label "Yes" %>
    <%= f.radio_button :response, true, checked: true %>
    <%= f.label "No, Show Me Another" %>
    <%= f.radio_button :response, false, checked: false %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
